button{
    background-color: blueviolet!important;
}

.form-header-text{
    color: blueviolet
}

body{
    background-color: blueviolet!important;
    font-family: cursive;
}

.alert-color{
    background-color: blueviolet;
}